   body {

    background-image: url("img/sun-pattern.png");

    }

    footer {

    background-color: #CA6510;
    padding: 25px;

    }


    footer i {
        font-size: 30px;
    }

    .carousel-caption {

    background-color: rgb(202, 101, 16, 0.7);
    border-radius: 1rem;

    }

    #carrusel {

    margin: 30px auto 30px;
    
    }

    .main__title{
        color:brown;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }


    #galeria{
        
        box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
        text-align: center;
        
    }

    #galeria img{
        width: 100%;
        height: auto;
    }

    #galeria:hover{
        border: 1px solid lightcoral;
    }

    #galeria button{
        margin-top: 25px;
        background-color: #CA6510;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px #CA6510;
        color: #fff;
        font-size: 15px;
        padding: 10px 25px;
    }
   
    
