    body {

    background-image: url("img/sun-pattern.png");

    }

    footer {

        min-height: 100px;
        background-color: #CA6510;
        padding: 25px;

    }

    .carousel-item {

    max-height: 500px;
    position: relative;
    background-position: bottom;
    background-size: cover;
    
    }

    .carousel-caption {

        background-color: rgb(202, 101, 16, 0.7);
        border-radius: 1rem;

    }

    #carrusel {

    margin: 30px auto 30px;
    
    }

    
