   body {

    background-image: url("img/sun-pattern.png");

    }

    footer {

    background-color: #ff7300;
    padding: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

    }


    footer i {
        font-size: 30px;
    }

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 40px;
        background-color: white;
        font-size: 20px;
        color: #ff7300;
        border-radius: .65rem;
      }

    footer .icon{

        width: 60px;
        height: 60px;

    }
    .carousel-caption {

    background-color: rgba(255, 115, 0, 0.7);
    border-radius: 1rem;

    }

    #carrusel {

    margin: 30px auto 30px;
    
    }

    .main_title{
        color:#ff7300;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }


    #galeria{
        
        box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
        text-align: center;
        
    }

    #galeria img{
        width: 100%;
        height: auto;
    }

    #galeria:hover{
        border: 1px solid lightcoral;
    }

    #galeria button{
        background-color: #ff7300;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px #ff7300;
        color: #fff;
        font-size: 15px;
        padding: 10px 25px;
    }
   
    
